header {
    margin-bottom: 10px;

    .wrapper {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;

        &__logo {
            margin-right: 10px;
        }

        &__title {
            font-weight: 300;
            color:#fff;
        }
    }
}
