.wrapper {
    display:flex;
    flex-direction: column;
    background:#fff;
    padding:10px;
    margin: 10px 0;
    border-radius: 5px;
    align-items: center;
    box-shadow: 6px 9px 15px -9px rgba(0, 0, 0, 0.75);

    &__message {
        margin: 10px 0;
    }
}